body{
    background-color: white;



}
{
    padding: 0;
    margin: 0;
    font-family: Trebuchet MS;
   }
    
   .menu {
    margin: 5px 0 20px 0;
    padding: 5px;
    border: 1px solid black;
    text-align: center;
   }
    
   .menu ul li {
    display: inline;
    padding: 0 5px;
   }
    
   .menu ul li a, a:link, a:visited, a:active {
    color: #666;
    text-decoration: none;
   }
    
   .menu ul li a:hover {
    color: #333;
    text-decoration: underline;
   }



.container{
    display: flex;
    
}

table,td,tr{
    border: 1px solid green;
    border-collapse: collapse;
    padding: 5px;
}

.col{
    margin: 2px;
}

.response{
    
    
}

.button{
    width: 300px;
    height: 200px;
    background-color: red;
    margin: 2px;
    display: flex;
    justify-content: center;
    align-items: center;
    
}

#achtergrond{
    background-color: ;
    
}
.button span{
    
    font-size: 2em;
    font-family: consolas;
}

