/* Hier hoef je niks mee te doen */
*{
    font-size:0;
}

#container{
    width: 900px;
    height: 600px;
    background-color: blanchedalmond;
    border: 1px solid black;
}

/* Hieronder kun je gaan editen */

#links{
    width: 33%;
    height: 100%;
    display: inline-block;
    background-color: green;
}

#rechts{
    width: 66%;
    height: 50%;
    display: inline-block;
    
}

#rechtboven{
    width: 33%;
    height: 50%;
    background-color: red;
}

#rechtsonder{
    width: 33%;
    height: 50%;
    background-color: yellow;



}



